@import '../../styles/variables';

.JoinUsContent {
	max-width: 1366px;
	margin: 0 auto;
	height: 100vh;
	background: url('/assets/bg-join.svg') no-repeat right top;
	display: flex;
	align-items: center;

	.JoinBox {
		position: relative;
		left: 100px;
		h3 {
			margin-bottom: 2rem;
			font-size: $font-size-xl;
			font-family: $MontR;
			color: $title;
		}
		.InputBox {
			display: flex;
			align-items: center;
			width: 28rem;
			input {
				width: 21rem;
				height: 3.25rem;
				border-radius: 0.35rem;
				border: 1px solid $gray;
				padding: 1rem;

				&::placeholder {
					font-size: $font-size-m;
					color: $gray;
					font-family: $MuliR;
				}
			}

			button {
				height: 3.25rem;
				width: 5.75rem;
				border: none;
				background: $logo;
				color: $white;
				font-size: $font-size-m;
				font-family: $MuliR;
				margin-left: 1rem;
				border-radius: 0.35rem;
				cursor: pointer;

				&:hover {
					filter: brightness(0.8);
				}
			}
		}
	}
}
@media (max-width: 720px) {
	.JoinUsContent {
		background: url('/assets/bg-join.svg') no-repeat center right -200px;
		background-size: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: static;
		.JoinBox {
			position: static;
		}
		margin: 0 auto;
	}
}

@media (max-width: 520px) {
	.JoinUsContent {
		background: url('/assets/bg-join.svg') no-repeat center left -200px;
		background-size: 200%;

		.JoinBox {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			max-width: 20rem;

			.InputBox {
				max-width: 100%;
			}
		}
	}
}
